body{
    background-image: linear-gradient(to bottom, #333c09, #2f3808, #2b3307, #272f05, #232b03, #192b0a, #0e2911, #032817, #002724, #00252d, #07222f, #181e2c);
    font-family: 'Original Surfer', cursive;
    color: white;
}

